@import  'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';



html, body, #root {
    height: 100%;
    margin: 0;
  }
  
  .App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  img {
    display: block;
  }
  
  #girl{
    height: 550px;
  }












